@model IEnumerable<EntrecineWebApp.Models.Sesion>

@{
    ViewBag.Title = "Sesiones";
}

<h2>Índice de sesiones</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pelicula.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCalculado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pelicula.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento.Nombre)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.PrecioCalculado)
        </td>
    </tr>
}

</table>
