@using EntrecineWebApp.Models
@model IEnumerable<EntrecineWebApp.Models.Sesion>

@{
    ViewBag.Title = "Editar Sesiones";
}

<h2>Edición de sesiones</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pelicula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescuentoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pelicula.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento.Porcentaje)%
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", "Sesion", new { id = item.Id }, new { }) |
            @Html.ActionLink("Borrar", "Borrar", "Sesion", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>

