@using EntrecineWebApp.Models;
@model RecomendacionesModel

@{
    ViewBag.Title = "Recomendaciones";
}

<h2>Lo más visto en Entrecine </h2>
<div id="masVisto">

    @for(int i=0;i<Model.PelisMasVistas.Count();i++)
    {
            <div class="movieCartelera">
                <div class="titulo"><b>@((i+1)+"º:   ")</b>@Html.DisplayFor(modelItem => Model.PelisMasVistas[i].Nombre)</div>
                <a href="@Url.Content("~/Pelicula/Detalles/"+Model.PelisMasVistas[i].Id)"><img src="@Url.Content("~/images/Caratulas/caratula_"+@Html.DisplayFor(modelItem=>Model.PelisMasVistas[i].Id)+".jpg")" /></a>
                <div class="ventas"><b>@(Model.VecesVista(Model.PelisMasVistas[i])+"  ventas")</b></div>
            </div>
            
    }

</div>

@if (Request.IsAuthenticated) {
    <h2>Recomendaciones para @Html.Encode(User.Identity.Name)</h2>
    


   <div id="Recomendaciones">


     @foreach(Pelicula p in Model.Recomendaciones(User.Identity.Name))
    {
            <div class="movieCartelera">
                <div class="titulo">@Html.DisplayFor(modelItem => p.Nombre)</div>
                <a href="@Url.Content("~/Pelicula/Detalles/"+p.Id)"><img src="@Url.Content("~/images/Caratulas/caratula_"+@Html.DisplayFor(modelItem=>p.Id)+".jpg")" /></a>
             </div>
            
    }
        </div>
}