@using EntrecineWebApp.Views.Shared
@using EntrecineWebApp.Models
@model EntrecineWebApp.Models.Pelicula

@{
    ViewBag.Title = "Detalles de la película";
    var ruta = "../../Images/Caratulas/caratula_" + Model.Id + ".jpg";
}

<h2>Información detallada</h2>
<div class="movieCaratula">
    <img src="@ruta" alt="Portada"/>
</div>

<div class="movieDetalles">

    <div class="display-label">
         @Html.LabelFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Duracion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duracion)
    </div>
    <br />
    <div class="display-label">
         @Html.LabelFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>
    
</div>
<div id ="sesiones">
    
<h3>Próximas Sesiones</h3>
    <table id="tablaSesiones">
        <thead><tr><th style="width:60px;">Sala</th><th>Fecha</th><th>Precio</th></tr></thead>
        <tbody>
        @foreach(var sesionAct in Model.Sesion){    
                if(DateTime.Now<sesionAct.Fecha && sesionAct.Fecha< DateTime.Now.AddDays(7)){
                    <tr onclick="document.location = '/Reserva/Crear/@Html.Encode(sesionAct.Id)';">
                         <td>@Html.Encode(sesionAct.Sala.Id) </td>
                         <td>@Html.Encode(sesionAct.Fecha.ToString("dd/MM/yyyy HH:mm"))</td>       
                         <td>@Html.Encode(sesionAct.PrecioCalculado)€</td>          
                    </tr>
                }
        }
        </tbody>
    </table>
</div>
