@model EntrecineWebApp.Models.Pelicula

@{
    ViewBag.Title = "Detalles de la película";
}

<h2>Details</h2>

<fieldset>
    <legend>Pelicula</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duracion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duracion)
    </div>
</fieldset>

<div class="datosPeli">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>

    @Html.LabelFor(model =>model.Descripcion)
    <pre class="descripcion">
        @Html.DisplayFor(model => model.Descripcion)
    </pre>

    @Html.LabelFor(model =>model.Precio)
    @Html.DisplayFor(model => model.Precio)

    @Html.LabelFor(model =>model.Duracion)
    @Html.DisplayFor(model => model.Duracion)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
