@using EntrecineWebApp.Views.Shared
@using EntrecineWebApp.Models
@model EntrecineWebApp.Models.Pelicula

@{
    ViewBag.Title = "Detalles de la película";
    var ruta = "../../Images/Caratulas/caratula_" + Model.Id + ".jpg";
}

<style>
    h2 {
        padding-left:10px;
    }
    #caratula {
        float:left;
        border-right: groove;
        padding:5px;
        height:215px;
        width:150px;
    }
    .informacion {
        float: left;
        padding:5px;
    }
    .display-field {
        padding-left:20px;
    }
    #back {
        clear:both;
        text-align: right;
    }

</style>
<h2>Información detallada</h2>
<div id="caratula">
    <img src="@ruta" alt="portada" width="150" height="215"/>
</div>

<div class="informacion">

    <div class="display-label">
         @Html.LabelFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Duracion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duracion)
    </div>

    <div id="sesiones">
        @foreach(var sesionAct in Model.Sesion){
            @Html.LabelFor(sesion=>sesionAct.Id)
            @Html.DisplayFor(sesion=>sesionAct.Id)
            @Html.ActionLink("","Index","Reserva",new{sesionAct.Id})
            sesionAct.Fecha.ToString("dd/MM HH:mm");
            
        }
    </div>
</div>




<p id="back">
    @Html.ActionLink("Back to List", "Index")
</p>
