@model EntrecineWebApp.Models.Descuento

@{
    ViewBag.Title = "Borrar Descuento";
}

<h2>Borrar Descuento</h2>

<h3>¿Seguro que quieres borrar este descuento?</h3>
<fieldset>
    <legend>Descuento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Porcentaje)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Porcentaje)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" />
    </p>
}
