@using EntrecineWebApp.Views.Shared
@model EntrecineWebApp.Models.ReservaModel

@{
    ViewBag.Title = "Comprar entradas";
    var ImagePath = "../../Images/Caratulas/caratula_" + Model.Sesion.Pelicula.Id + ".jpg";
}

    <h2>Comprar entradas</h2>
    <aside>
    <h3>Sesión</h3>
    <img src="@Html.Encode(ImagePath)" />
    <p>Película: <b>@Html.Encode(Model.Sesion.Pelicula.Nombre)</b><br />
    Precio por entrada : <b>@Html.Encode(Model.Sesion.Pelicula.Precio)€</b><br />
    Hora de inicio : <b>@Html.Encode(Model.Sesion.Fecha)</b><br />
    Duración : <b>@Html.Encode(Model.Sesion.Pelicula.Duracion) minutos</b></p>
    </aside>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
            
        <fieldset>
            <legend></legend>
            <h3>Butacas disponibles</h3>
            <div class="editor-label">
                @Html.LabelFor(model => model.Ocupacion)
            </div>
            <div class="editor-field">
            <table>
            
    @{int i = 0;}
    @for (int j = 0; j < Model.Sesion.Sala.Filas; j++)
    {
                <tr>
                    @for (int k = 0; k < Model.Sesion.Sala.Columnas; k++)
                    {
                        <td class="butaca @Html.Encode(Model.GetOcupacionClass(i))">
                            @if (!Model.Ocupacion[i].Ocupada)
                            {                        
                                <label class="checkbox">
                                    <input type="checkbox" name="butacas" value="@Html.Encode(Model.Ocupacion[i].Fila+":"+Model.Ocupacion[i].Columna)"> 
                                </label>
                                
                            }
                        </td>
                            i++;
                    }

                </tr>
    }
            </table>
                </div>
            <h3>Forma de Pago</h3>
            <div class="editor-label">
                @Html.LabelFor(model => model.FormaDePago)
            </div>
            <div class="editor-field">
                @Html.RadioButtonForEnum(model => model.FormaDePago, Model.PermiteEnEfectivo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.TarjetaCredito)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TarjetaCredito)
                @Html.ValidationMessageFor(model => model.TarjetaCredito)
            </div>
            
                @Html.HiddenFor(model => model.Sesion.Id)
            <p>
                <input type="submit" value="Realizar Reserva" />
            </p>

        </fieldset>
    
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    <script type="text/javascript">
        var $radioGroup = $("input[name=FormaDePago]");
        var $btn_tarjetaCredito = $('#TarjetaCredito');

        $radioGroup.change(function () {
            if ($(this).val() != 'EnEfectivo') {
                $btn_tarjetaCredito.removeAttr('disabled');
            } else {
                $btn_tarjetaCredito.attr('disabled', 'disabled').val('');
            }
        }).trigger('change');
    </script>

